<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
				"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.main.dao.BookDAO">

	<!-- 책 목록 조회 -->
	<select id="bookList"
		resultType="com.example.demo.main.dto.Book">
		SELECT num,
		title,
		author,
		detail

		FROM book
	</select>
	
	<!-- 책 만들기 -->
	<insert id="insertBook" parameterType="com.example.demo.main.dto.Book">
		INSERT INTO book 
		(
		 num,
		 title,
		 author,
		 detail
		)
		VALUES
		(
		 #{num},
		 #{title},
		 #{author},
		 #{detail}
		)
	</insert>


	<!-- 책 하나 가져오기 -->
	<select id="getBookById" parameterType="Map"
		resultType="com.example.demo.main.dto.Book">
		SELECT num,
		title,
		author,
		detail

		FROM book
		WHERE 1=1
		AND num = #{num}
	</select>
	
	
	<!-- 책 정보 수정하기 -->
	<update id="updateBookById" parameterType="com.example.demo.main.dto.Book">
		UPDATE book
		SET detail = #{detail}
		<if test='title != null and title neq ""'>
		,title= #{title}
		</if>
		<if test='author != null and author neq ""' >
		,author = #{author}
		</if>
		WHERE 1=1
		AND num = #{num}
	</update>
	
	<!-- 책 삭제하기 -->
	<delete id="deleteBookById" parameterType="Integer">
		DELETE
		FROM book
		WHERE 1=1
		AND num = #{num}
	</delete>
</mapper>